html, body, #root {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
display: flex;
    background-color: rgba(48, 41, 41, 0.829);

};

.wrapper {
    flex: 1; 
    display: flex;
    flex-direction: column;
}


.footer{
    
    height: 150px;
    width: 100%;
};